<h1>Clientes</h1>

<% @cidades.each do |cidade| %>
  <h3><%= cidade[:cidade] %>, <%= cidade[:estado] %></h3>
    <% cidade[:clientes].each do |cliente| %>
      <table>
      <tr>
        <td><%= link_to cliente.nome, cliente %></td>
        <td></td>
      </tr>
      </table>
  <% end %>
<% end %>


<br />

<%= link_to 'New Cliente', new_cliente_path %>
