<div class="main espaco">
    <div class="container_12">
        <div class="wrapper">
        	<h3>Consultoria</h3>
            <article class="grid_8">
                <p class="text-1">Realizamos consultoria na elaboração de procedimentos para a indústria farmacêutica, alimentícia e hospitalar</p>
                <p class="text-1 margin-bot">Nossa equipe de engenheiros oferece soluções gerenciais tecnológicas para sua empresa. Para maiores informações entre <%=link_to "em contato", {action:"contato", controller:"site"} %></p>
              </article>
              <article class="grid_4">
              	<figure>
              		<img src="/images/consultoria.jpg" class="img-border" />
              	</figure>
              </article>
        </div>
    </div>
</div>
<div class="block"></div>
