<script type="text/javascript">
  $(document).ready(function() {
    $("#carousel").featureCarousel({
		autoPlay:7000,
		trackerIndividual:false,
		trackerSummation:false,
		topPadding:50,
		smallFeatureWidth:.9,
		smallFeatureHeight:.9,
		sidePadding:0,
		smallFeatureOffset:0
	});
  });
</script>
<div class="row-bot">
	<div class="center-shadow">
    	<div class="carousel-container">
          <div id="carousel">
            <div class="carousel-feature">
              <a href="#"><img class="carousel-image" alt="" src="/images/gallery-img1.png"></a>                          
            </div>
            <div class="carousel-feature">
              <a href="#"><img class="carousel-image" alt="" src="/images/gallery-img3.png"></a>
            </div>
            <div class="carousel-feature">
              <a href="#"><img class="carousel-image" alt="" src="/images/gallery-img2.png"></a>
            </div>
          </div>
		</div>
    </div>
</div>
<div class="main espaco">
    <div class="container_12">
        <div class="wrapper">
            <article class="grid_12">
            	<h3>Empresa</h3>
                <p class="text-1">A QVALI atua na área de prestação de serviçs de Validação, Qualificação e Certificação de equipamentos e processos, através do uso de metodologia bem definida, simples e inovadora, para os segmentos que buscam continuamente altos padrões de qualidade.</p>
                <p class="text-1">Qualificação, Validação e Certificação se enquadram dentro da metrologia como uma forma de ensaio qualitativo que visa garantir a conformidade do equipamento com os critérios pré-estabelecidos e a qualidade de um sistema produtivo.</p>
                <p class="text-1">Prezamos pela qualidade dos nossos serviços e o acompanhamento contínuo dos nossos clientes. Com o auxílio de ferramentas precisas e atualizadas, estamo prontos para atuar, com  flexibilidade, como verdadeiros parceiros de nossos clientes.</p>
                <p class="text-1 margin-bot">Todos os nossos serviços são realizados conforme as exigências e recomendações de normas e regulamentos vigentes, nacionais e internacionais.</p>
              </article>
        </div>
    </div>
</div>
<div class="block"></div>