<div class="main">
    <div class="container_12">
    	<h3>Serviços</h3>
        <div class="wrapper p3">
        	<article class="grid_6 alpha">
            	<h4 class="p2">Qualificação/Validação Térmica</h4>
                <figure><a href="#"><img class="img-border" src="/images/page4-img1.jpg" alt="" /></a></figure>
                <div class="box">
                	<div class="padding">
                    	<a href="#">Saiba mais</a>
                    </div>
                </div>
            </article>
            <article class="grid_6 alpha">
            	<div class="indent-left3">
                    <h4 class="p2">Certificação de áreas dedicadas</h4>
                    <figure><a href="#"><img class="img-border" src="/images/page4-img2.jpg" alt="" /></a></figure>
                    <div class="box">
                        <div class="padding">
                            <a href="#">Saiba mais</a>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
    <div class="block"></div>
</div>