<div class="main espaco">
    <div class="container_12">
        <div class="wrapper">
        	<h3>Treinamentos</h3>
            <article class="grid_8">
                <p class="text-1">Oferecemos treinamentos nas seguintes áreas:</p>
                <ul class="text-1 list-1 margin-bot">
                	<li>Gestão Metrológica</li>
                	<li>Rotinas de validação</li>
                	<li>Uso de equipamentos e tecnologias</li>
                </ul>
                <p class="text-1">Para maiores informações entre <%=link_to "em contato", {action:"contato", controller:"site"} %>.</p>
              </article>
              <article class="grid_4">
              	<figure>
              		<img src="/images/treinamentos.jpg" class="img-border" />
              	</figure>
              </article>
        </div>
    </div>
</div>
<div class="block"></div>
