<div class="main espaco">
    <div class="container_12">
        <div class="wrapper">
            <article class="grid_12">
            	<h3>Serviços</h3>
            	<h4>Qualificação / Validação térmica</h4>
                <p class="text-1 margin-tp">Com os mais modernos equipamentos, realizamos os ensaios térmicos necessários para levantar o maior número de evidências possíveis para qualificar um equipamento ou validar um processo.</p>
                <p class="text-1">Nossos equipamentos são calibrados por laboratórios credenciados pelo INMETRO(RBC) garantindo a rastreabilidade metrológica. Atuamos nas áreas da indústria alimentícia, de comésticos, farmacêutica, laboratorial, agrícola e hospitalar.</p>
                
            </article>
        </div>
        <div class="wrapper">
            <article class="grid_6">
                <p class="text-1">Escopo</p>
                <ul class="text-2 list-1">
                    <li>Autoclave</li>
                    <li>Pasteurização</li>
                    <li>Estufa de Esterelização</li>
                    <li>Termo-Desinfectora</li>
                    <li>Refrigerador</li>
                    <li>Câmara Fria</li>
                    <li>Freezer</li>
                    <li>Sistema de Descontaminação</li>
                    <li>Estufa de Desiprogenização</li>
                    <li>Mufla</li>
                    <li>Liofilizador</li>
                    <li>Incubadora</li>
                    <li>Banho Maria</li>
                    <li>Câmara Climática</li>
                </ul>
            </article>
            <article class="grid_6">
                <figure>
                    <img src="/images/validacao.png" 
                    class="img-border"/>
                </figure>
            </article>
      </div>
</div>
<div class="block"></div>